body{
	background-color: rgb(240, 240, 245);
	margin: 0;
}
.header{
	margin:0;
	color: rgb(20, 90, 128);
	font-size:45px;
	background-color: rgb(250, 250, 250);	
	box-shadow: 2px 1px 5px rgb(15, 15, 15);
}
.container{
	width: 50%;
	margin: auto;
}
